<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="frontend/style.css">
    <title>Cars</title>
</head>
<body>
    <h1 class="topnav">Cars website</h1>

    <div class="main-content">
        <div class="search-forms">
            <form action="/sbar" method="post">
                <div class="form-group">
                    <label for="Manufacturer">Choose a manufacturer:</label>
                    <select name="manufacturer" id="Manufacturer">
                        <option value=""></option>
                        {{ range .search.ManuN }}
                        <option value="{{.}}">{{.}}</option>
                        {{ end }}
                    </select>
                </div>
                
                <div class="form-group">
                  <label for="Country">Choose a Country:</label>
                  <select name="country" id="Country">
                      <option value=""></option>
                      {{ range .search.ManuC }}
                      <option value="{{.}}">{{.}}</option>
                      {{ end }}
                  </select>
              </div>
      
              <div class="form-group">
                  <label for="Category">Choose a Car Category:</label>
                  <select name="category" id="Category">
                      <option value=""></option>
                      {{ range .search.Cat }}
                      <option value="{{.}}">{{.}}</option>
                      {{ end }}
                  </select>
              </div>
      
              <div class="form-group">
                  <label for="Cname">Choose a Car name:</label>
                  <select name="cname" id="Cname">
                      <option value=""></option>
                      {{ range .search.ModName }}
                      <option value="{{.}}">{{.}}</option>
                      {{ end }}
                  </select>
              </div>
      
              <div class="form-group">
                  <label for="Cyear">Choose a Year:</label>
                  <select name="cyear" id="Cyear">
                      <option value=""></option>
                      {{ range .search.Year }}
                      <option value="{{.}}">{{.}}</option>
                      {{ end }}
                  </select>
              </div>
              
      
              <div class="form-group">
                  <label for="Engine">Choose Engine:</label>
                  <select name="engine" id="Engine">
                      <option value=""></option>
                      {{ range .search.Engine }}
                      <option value="{{.}}">{{.}}</option>
                      {{ end }}
                  </select>
              </div>
      
              <div class="form-group">
                  <label for="Horsepower">Choose Horsepower:</label>
                  <select name="horsepower" id="Horsepower">
                      <option value=""></option>
                      {{ range .search.Hp }}
                      <option value="{{.}}">{{.}}</option>
                      {{ end }}
                  </select>
              </div>
      
              <div class="form-group">
                  <label for="Transmission">Choose Transmission:</label>
                  <select name="transmission" id="Transmission">
                      <option value=""></option>
                      {{ range .search.Trans }}
                      <option value="{{.}}">{{.}}</option>
                      {{ end }}
                  </select>
              </div>
      
              <div class="form-group">
                  <label for="Drivetrain">Choose Drivetrain:</label>
                  <select name="drivetrain" id="Drivetrain">
                      <option value=""></option>
                      {{ range .search.Drive }}
                      <option value="{{.}}">{{.}}</option>
                      {{ end }}
                  </select>
              </div>

              <div class="form-actions">
                <input type="submit" value="Search">
            </div>
        </form>
    </div>

    <div class="car-display">
        {{ range .car }}
        <div class="car-container">
            <div class="car-details">
                <p><strong>Car Name:</strong> {{.Name}}</p>
                <p><strong>Make Year:</strong> {{ .Year }}</p>
                <p><strong>Engine:</strong> {{ .Specifications.Engine }}</p>
                <p><strong>Horsepower:</strong> {{ .Specifications.Horsepower }}</p>
                <p><strong>Transmission:</strong> {{ .Specifications.Transmission }}</p>
                <p><strong>Drivetrain:</strong> {{ .Specifications.Drivetrain }}</p>
                <img src="{{ .Image }}" alt="car picture" class="car-image">
              </div>
              
              <div class="button-group">
              <form action="/compare" method="put" class="car-form">
                <input type="hidden" name="carName" value="{{.Name}}">
                <input type="hidden" name="carYear" value="{{.Year}}">
                <input type="hidden" name="carimage" value="{{.Image}}">
                <input type="hidden" name="carEngine" value="{{.Specifications.Engine}}">
                <input type="hidden" name="carHp" value="{{.Specifications.Horsepower}}">
                <input type="hidden" name="carTransmission" value="{{.Specifications.Transmission}}">
                <input type="hidden" name="carDrivetrain" value="{{.Specifications.Drivetrain}}">
                  <input type="submit" value="Add to compare">
                </form>

                <form action="/manufacturer" method="post" class="manufacturer-form">
                  <input type="hidden" name="manufacturerId" value="{{.ManufacturerId}}">
                  <button type="submit">Manufacturer Info</button>
                </form>

                <form action="/comparepage" method="post">
                  <button type="submit">Go to Compare Page</button>
                </form>

            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </body>
</html>