<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Cars</title>
</head>
<body>
  <h1 class="topnav">Cars website</h1>

  <form action="/action" method="post">
    <label for="manufacturer">Choose a manufacturer:</label>
    <select name="manufacturer" id="Manufacturer">
      <option value=""></option>
      {{ range .search.ManuN}}      
      <option value={{.}}>{{.}}</option>
      {{end}}
    </select>
    <br>
    
    <label for="Country">Choose a Country:</label>
    <select name="country" id="Country">
      <option value=""></option>
      {{ range .search.ManuC}}     
      <option value={{.}}>{{.}}</option>
      {{end}}
    </select>
    <br>

    <label for="Category">Choose a Car Category:</label>
    <select name="category" id="Category">
      <option value=""></option>
      {{ range .search.Cat}}
      <option value="{{.}}">{{.}}</option>
      {{end}}
    </select>
    <br>

    <label for="Cname">Choose a Car name:</label>
    <select name="cname" id="Cname">
      <option value=""></option>
      {{  range .search.ModName}}
      <option value="{{.}}">{{.}}</option>
      {{end}}
    </select>
    <br>

    <label for="Cyear">Choose a Year:</label>
    <select name="cyear" id="Cyear">
      <option value=""></option>
      {{ range .search.Year}}
      <option value="{{.}}">{{.}}</option>
      {{end}}
    </select>
    <br>

    <label for="Engine">Choose Engine:</label>
    <select name="engine" id="Engine">
      <option value=""></option>
      {{ range .search.Engine}}
      <option value="{{.}}">{{.}}</option>
      {{end}}
    </select>
    <br>

    <label for="Horsepower">Choose Horsepower:</label>
    <select name="horsepower" id="Horsepower">
      <option value=""></option>
      {{ range .search.Hp}}
      <option value="{{.}}">{{.}}</option>
      {{end}}
    </select>
    <br>

    <label for="Transmission">Choose Transmission:</label>
    <select name="transmission" id="Transmission">
      <option value=""></option>
      {{  range .search.Trans}}
      <option value="{{.}}">{{.}}</option>
      {{end}}
    </select>
    <br>

    <label for="Drivetrain">Choose Drivetrain:</label>
    <select name="drivetrain" id="Drivetrain">
      <option value=""></option>
      {{ range .search.Drive}}
      <option value="{{.}}">{{.}}</option>
      {{end}}
    </select>
    <br>
  
    <br>
    <input type="submit" value="Search">
    <input type="reset" value="Reset">
  </form>

  {{ range .car }}
  <form action="/compare" method="post">
      <div class="uksus">

        Car Name: {{.Name}}
         <input type="hidden" id="carName" name="carName" value="{{.Name}}">
          Make Year: {{ .Year }}
          <input type="hidden" id="carYear" name="carYear" value="{{.Year}}">
          <br>
          <br>
          Engine: {{ .Specifications.Engine }}
          <input type="hidden" id="carEngine" name="carEngine" value="{{.Specifications.Engine}}">
          Horsepower: {{ .Specifications.Horsepower }}
          <input type="hidden" id="carHp" name="carHp" value="{{.Specifications.Horsepower}}">
          <br>
          <br>
          Transmission: {{ .Specifications.Transmission }}
          <input type="hidden" id="carTransmission" name="carTransmission" value="{{.Specifications.Transmission}}">
          Drivetrain: {{ .Specifications.Drivetrain }}
          <input type="hidden" id="carDrivetrain" name="carDrivetrain" value="{{.Specifications.Drivetrain}}">
          <br>
          <br>
          <img src="{{ .Image }}" alt="car picture">
          <input type="hidden" id="carimage" name="carimage" value="{{.Image}}">
          <br>
          <input type="submit" value="Add to compare">
      </div>
  </form>
  {{ end }}
  
  </body>
  </html>